

    <div>
        <h2>
All Drink are show here
        </h2>

        <h2>
            @Model.CurrentCategory
        </h2>
    </div>

 
@{
    <div class="row">
        @foreach (var drink in Model.Drinks)
        {
            <div class="col-sm-4 col-lg-4 col-md-4 mb-4">
                <div class="card shadow-sm border-light">
                    <img src="@drink.ImageThumbnailUrl" class="card-img-top" alt="Drink Image" />
                    

                    
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">@drink.Name</h5>
                            <span class="text-primary">@drink.Price.ToString("c")</span>
                        </div>
                        <p class="card-text">@drink.ShortDescription</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>

    
}
